.spinner {
    border: 3px solid var(--color-primary);
    border-top: 3px solid var(--color-quaternary);
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
    display: inline-block;
}

.spinner-default {
    width: 40px;
    height: 40px;
}

.spinner-small {
    width: 15px;
    height: 15px;
    border-width: 2px;
}

.spinner-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
}

.spinner-overlay {
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}


/*.spinner-default,*/
/*.spinner-small,*/
/*.spinner-overlay {*/
/*    border: 3px solid var(--color-primary);*/
/*    border-top: 3px solid var(--color-quaternary);*/
/*    border-radius: 50%;*/
/*    width: 40px;*/
/*    height: 40px;*/
/*    animation: spin 0.8s linear infinite;*/
/*    display: inline;*/
/*    margin-right: 8px;*/
/*}*/

/*.spinner-overlay {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    background: rgba(255, 255, 255, 0.7);*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    z-index: 10;*/
/*}*/

/*.spinner-small{*/
/*    width: 15px;*/
/*    height: 15px;*/
/*}*/

@keyframes spin {
    to { transform: rotate(360deg); }
}