.label-primary,
.label-secondary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.input-field {
    padding: 0.3rem 1rem;
    border: 1px solid var(--color-tertiary);
    font-size: 1rem;
}

.input-field::placeholder {
    color: var(--color-text);
    font-size: 1rem;
}

option {
    font-weight: 400;
    font-size: 1rem;
    margin: 0.25rem 1rem;
}

.label-secondary {
    justify-content: flex-start;
}

label > span {
    font-weight: 600;
    font-size: 1rem;
    color: var(--color-white);
}

.label-tertiary {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-weight: 600;
}

.textarea {
    height: 6rem;
    resize: vertical;
    padding: 0;
    font-weight: 400;
    font-size: 0.9rem;
}

input[type=text] {
    width: 30rem;
    height: 2rem;
}