.highlight-section-wrapper {
    position: relative;
    width: 100%;
}

.highlight-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    gap: 2rem;
}

.highlight-wrapper::-webkit-scrollbar {
    display: none;
}

.arrow-icon {
    width: 60px;
    height: 60px;
    position: absolute;
    right: -2rem;
    top: 9rem;
}