@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/*----------------CSS RESET---------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*----------------CSS VARIABLES-----------*/

:root {
  --color-primary: rgb(39, 151, 168);
  --color-secondary: rgb(255, 249, 201);
  --color-tertiary: rgb(255, 201, 212);
  --color-quaternary: rgb(24, 86, 135);
  --color-text: rgb(36, 36, 36);
  --color-white: rgb(255, 255, 255);
}

/*----------------TYPOGRAPHY--------------*/

body {
  font-family: 'Quicksand', 'Poppins', 'Avenir', 'Segoe UI', Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 14px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

button, input, select, textarea {
  font-family: inherit;
}

h1 {

}

h2 {

}

h3 {

}



