@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/*----------------CSS RESET---------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*----------------CSS VARIABLES-----------*/

:root {
  --color-primary: rgb(39, 151, 168);
  --color-primary-trans: rgba(39, 151, 168, 0.7);
  --color-secondary: rgb(255, 249, 201);
  --color-secondary-trans: rgba(255, 249, 201, 0.3);
  --color-tertiary: rgb(255, 201, 212);
  --color-tertiary-trans: rgba(255, 201, 212, 0.3);
  --color-quaternary: rgb(24, 86, 135);
  --color-quarternary-trans: rgba(24, 86, 135, 0.8);
  --color-text: rgb(36, 36, 36);
  --color-white: rgb(255, 255, 255);
}

/*----------------TYPOGRAPHY--------------*/
html {
  font-size: 14px;
}

body {
  font-family: 'Quicksand', 'Poppins', 'Avenir', 'Segoe UI', Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1rem;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}

button, input, select, textarea, p {
  font-family: inherit;
  font-size: inherit;
}

h1 {
  font-size: 1.5rem;
  font-weight: 700;
}

h2 {
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0 0 0 1rem;
}

h3 {
  font-size: 1rem;
  font-weight: 600;
}

.error-message {
  color: red;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 1rem 0 0 0;
  text-align: center;
}


