.artist-container {
    position: relative;
}

.artist-wrapper {
    display: flex;
    justify-content: center;
    gap: 12rem;
    margin: 4rem auto;
}

.artist-image {
    width: 20%;
    height: auto;
    object-fit: contain;
    border-radius: 5%;
}

.artist-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.artist-artworks-wrapper {
    width: 80vw;
    margin: 1.5rem auto;
}

.artist-header {
    display: flex;
    align-items: baseline;
    gap: 0.5rem;
}

.artist-artworks-header {
    text-align: center;
    margin-bottom: 1.5rem;
}

.artist-biography {
    width: 40vw;
    margin: 0 auto 5rem auto;
}

.artist-no-artworks {
    text-align: center;
}


