.nav-item-default,
.nav-item-secondary {
    color: var(--color-white);
    text-decoration: none;
    font-weight: 400;
    font-size: 1.1rem;
}

.nav-item-active {
    color: var(--color-text);
    text-decoration: underline;
    font-weight: 600;
    font-size: 1.1rem;
}

.nav-item-secondary {
    color: var(--color-text);
}