.overview-container {
    position: relative;
    min-height: 50vh;
}

.overview-title {
    text-align: center;
    padding: 3rem;
}

.overview-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 5rem;
}