.overview-container {
    position: relative;
    min-height: 50vh;
}

.overview-title {
    text-align: center;
    padding: 3rem;
}

.overview-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, 18rem);
    justify-content: center;
    gap: 2rem;
    padding: 0 1rem;
}