.register-container {
    position: relative;
    max-width: 40rem;
    width: 100%;
    margin: 0 auto;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-register {
    text-align: center;
    margin-bottom: 2rem;
}

.register-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.register-container form label {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
    margin: 0 auto;
}

.form-button {
    margin: 2rem;
}

.navigate-register {
    text-align: center;
}

.link-register {
    color: var(--color-primary);
    text-decoration: none;
    cursor: pointer;
    transition: color 0.2s ease;
}

.link-register:hover {
    color: var(--color-quaternary);
    text-decoration: underline;
}
